body {
  font-family: "Montserrat", sans-serif;
  color: #5b6275;
}

h1 {
  font-size: 45px;
  font-weight: 400;
  line-height: 28px;
  margin-bottom: 15px;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 3px;
  font-size: 16px;
  font-weight: 200;
  line-height: 19px;
}

li::first-letter {
  text-transform: capitalize;
}

.App {
  margin: 20px;
}

.moreInfo {
  margin-left: 100px;
}

.description {
  font-style: italic;
}

.weather-forecast {
  margin-top: 10px;
  text-align: center;
}

.weather-forecast-date {
  font-size: 16px;
  color: #7e7f83;
}

.weather-forecast-temperatures {
  font-size: 13px;
}

.weather-forecast-low {
  opacity: 0.5;
}
